body{
	font: 16px Arial, Helvetica, sans-serif;
	background:#d2d2c1 url("img/fundo.png") ;
}
#principal{
	width: 900px;
}

#menu{
	background-color: #d2d2c1;
	padding: 18px;
}

a{
	text-decoration: 	none;
	font-weight: 	bold;
	color: 	#4b566a;
}

#conteudo{
	background:  #e8e8d9;
	padding: 	10px;
}
#rodape{
	font-weight: 	bold;
	text-align: 	center;
}

h1{
	color: #828271;
	font-size: 1.2em; /*Utilizando a formatação de tamanho em "em" caso altere o size da div principal também irá alterar o tamanho da letra automaticamente*/
}

.img-campanha{
	border: 10px solid #c3c3ae;
}